<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Group_Logo_Head.ico"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DWC_NightOwlProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DWC_NightOwlProject.styles.css" asp-append-version="true" />
    
</head>
@*<img src="~/css/motto 1.png" alt="The night is ours, but the future is yours!" style="position: relative; float:left;" />
<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  src="~/css/dragon_Logo.png" alt="dragon logo for Campaign Creator" style="width: 120px; height: 120px"/></a>*@
<body class="darkMode bg-img-wrapper">
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="Nav_Bar_Home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link active" id="Nav_Bar_World" asp-area="" asp-controller="World" asp-action="Index">World</a>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-lg p-3 mb-3 rounded">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  src="~/css/dragon_Logo.png" alt="dragon logo for Campaign Creator" style="width: 110px; height: 130px"/></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/css/motto 1.png" alt="The night is ours, but the future is yours!" style="height: 120px;" />
                        </li>
                    </ul>
                </div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
        </nav>*@
        
        @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">DND World Creator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                <div class="image">
                                    <img src="~/css//home.png" width="50" height="auto" alt="nav-pic">
                                </div>
                                <i class="fas fa-home"></i>
                                <span class="icon-text">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "World")">
                                <i class="fas fa-globe"></i>
                                <span class="icon-text">World</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Backstory")">
                                <i class="fas fa-book"></i>
                                <span class="icon-text">Backstory</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Quests")">
                                <i class="fas fa-tasks"></i>
                                <span class="icon-text">Quests</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Maps")">
                                <i class="fas fa-map"></i>
                                <span class="icon-text">Maps</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Character")">
                                <i class="fas fa-users"></i>
                                <span class="icon-text">Characters</span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@
        <nav class="navbar navbar-dark fixed-top">
            <div class="container-fluid">
                @*<a class="navbar-brand" href="@Url.Action("Index", "Home")">DND World Creator</a>*@
                <img src="~/css/motto 1.png" alt="The night is ours, but the future is yours!" style="width: 450px; height: 80px" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/dragon_Logo.png" alt="dragon logo for Campaign Creator" style="width: 80px; height: 80px" /></a>
                <button class="navbar-toggler order-first" name="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-light navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">
                                    <div class="image">
                                        <img src="~/css//home.png" width="50" height="auto" alt="nav-pic">
                                    </div>
                                    <i class="fas fa-home"></i>
                                    <span class="icon-text">Home</span>
                                </a>
                            </li>
                          @*  <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "World")">
                                    <div class="image">
                                        <img src="~/css/global.png" width="50" height="auto" alt="nav-pic">
                                    </div>
                                    <i class="fas fa-globe"></i>
                                    <span class="icon-text">World</span>
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Backstory")">
                                    <div class="image">
                                        <img src="~/css//open-book.png" width="50" height="auto" alt="nav-pic">
                                    </div>
                                    <i class="fas fa-book"></i>
                                    <span class="icon-text">Backstory</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Quests")">
                                    <div class="image">
                                        <img src="~/css/question-mark.png" width="50" height="auto" alt="nav-pic" />
                                    </div>
                                    <i class="fas fa-tasks"></i>
                                    <span class="icon-text">Quests</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Maps")">
                                    <div class="image">
                                        <img src="~/css/maps.png" width="50" height="auto" alt="nav-pic" />
                                    </div>
                                    <i class="fas fa-map"></i>
                                    <span class="icon-text">Maps</span>
                                </a>
                            </li>
                            <li >
                                <a class="nav-link" href="@Url.Action("Index", "Character")">
                                    <div class="image">
                                        <img src="~/css/knight.png" width="50" height="auto" alt="nav-pic">
                                    </div>
                                    <i class="fas fa-users"></i>
                                    <span class="icon-text">Characters</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Encounter")" >
                                <div class="image">
                                    <img src="~/css/swords.png" width="50" height="auto" alt="nav-pic" />
                                </div>
                                    <i class="fas fa-users"></i>
                                    <span class="icon-text">Encounters</span>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" name="songs" href="@Url.Action("Index", "Songs")" >
                                <div class="image">
                                    <img src="~/css/lute.png" width="50" height="auto" alt="nav-pic" />
                                </div>
                                    <i class="fas fa-users"></i>
                                    <span class="icon-text">Songs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Items")">
                                    <div class="image">
                                        <img src="~/css/item.png" width="50" height="auto" alt="nav-pic" />
                                    </div>
                                    <i class="fas fa-users"></i>
                                    <span class="icon-text">Items</span>
                                </a>
                            </li>
                        </ul>
                        <br />
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
        
    </header>
    @*<div class="body-section">
        <div class="sidebar">
            @*<div class="vnav">

                <div>

<<<<<<< HEAD
=======
                <div class="vnav">
>>>>>>> 8ee7a9f39387e41e03fad440dab29a1429d7949d
                    <ul>
                        <li class="nav-item">
                            <div class="image">
                                <img src="~/css//home.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id="Nav_Bar_Home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item2">
                            <div class="image">
                                <img src="~/css/global.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id="Nav_Bar_World" asp-area="" asp-controller="World" asp-action="Index">World</a>

                        </li>

                        <li>
                            <div class="image">
                                <img src="~/css//open-book.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" asp-area="" asp-controller="Backstory" asp-action="Index" id="backstoryButton">Backstory</a>

                        </li>


                        <li>
                            <div class="image">
                                <img src="~/css/question-mark.png" width="50" height="auto" alt="nav-pic" />
                            </div>
                            <a class="nav-link" id="Nav_Bar_Quest" asp-area="" asp-controller="Quests" asp-action="Index">Quests</a>
                        </li>

                        <li>
                            <div class="image">
                                <img src="~/css/knight.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id="Nav_Bar_Character" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>

                        </li>
                        <li>
                            <div class="image">
                                <img src="~/css/maps.png" width="50" height="auto" alt="nav-pic" />
                            </div>
                            <a class="nav-link" id="Nav_Bar_Maps" asp-area="" asp-controller="Maps" asp-action="Index">Maps</a>
                        </li>
                        <li>
                <div class="image">
                    <img src="~/css/swords.png" width="50" height="auto" alt="nav-pic" />
                </div>
                            <a class="nav-link" asp-area="" asp-controller="Encounter" asp-action="Index">Encounters</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@



 
                
               


    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div id="footerContainer">
            <div id="imginthefooter">
                <img src="~/css/Group_Logo_Head.png" width="300" height="150" id="Logo" alt="LogoPic">
            </div>
            <div id="socials">
                <a href="https://twitter.com/NightOwl_WOU" target="_blank"><img src="~/css/twitter.png" alt="Twitter" width="30" height="30"> Twitter</a>
                <a href="mailto:nightowlstudiosofficial@gmail.com" target="_blank"><img src="~/css/gmail.png" alt="Gmail" width="30" height="30"> Email Us</a>
                <a href="https://github.com/OneilMagno/Night-Owl-Project-Repo" target="_blank"><img src="~/css/github.png" alt="Github" width="30" height="30"> Github</a>
                <a href="@Url.Action("About", "Home")"><img src="~/css/about.png" alt="About" width="30" height="30">About Us</a>
            </div>
            <div id="Company_Name" style="color: white;">
                &copy; 2023 - Night Owl Studios
            </div>
        </div>
    </footer>
    @*<footer class="footer">
        <div id="Company_Name">
        &copy; 2023 - Night Owl Studios
        </div>
        <div id="footerContainer">
            <div id="imginthefooter">
                <img src="~/css/Group_Logo_Head.png" width="400" height="auto" id = "Logo" alt="LogoPic">    
            </div>
        </div>
    </footer>*@

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sheetabilities.js" asp-append-version="true"></script>
    <script src="~/lib/qrcode.js"></script>
    <script src="~/js/modes.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
