@model DWC_NightOwlProject.ViewModel.ViewModelWorld
@{
    ViewData["Title"] = "World";
}

<div>
    @if(Model != null)
    {
        <div class="text-center">
        <h1>@Model.ThisWorld.Name</h1>
        <br /> 

        <a id="linklabel" asp-controller="Backstory" asp-action="Index"><h2>Backstory:</h2></a>
        @if (Model.Backstory != null)
        {
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < Model.Backstory.Count; ++i)
                        {

                            @if (Model.Backstory[i] != null)
                            {
                                <tr>
                                    <td><h4>@Model.Backstory[i].Completion</h4></td>

                                    <td><a asp-controller="Quests" asp-action="Delete" asp-route-id="@Model.Backstory[i].Id" class="text-center btn btn-danger m-md-2">Delete</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr><td><h4>@ViewBag.Backstory</h4></td></tr>
                            }
                        }
                    </tbody>
                </table>
        }
        else 
        {
            <h4>@ViewBag.Backstory</h4>
        }
        </div>

        <div class="text-center">
        <a id="linklabel" asp-controller="Quests" asp-action="Index"><h2>Quests:</h2></a>
        </div>

        <table class="table">
            <tbody>
                @for (int i = 0; i < Model.quests.Count; ++i)
                {
            
                    @if(Model.quests[i] != null)
                    {
                        <tr>
                            <td><h4>@Model.quests[i].Completion</h4></td>

                            <td><a asp-controller="Quests" asp-action="Details" asp-route-id="@Model.quests[i].Id" class="text-center btn btn-primary m-md-2">Details</a></td>
                            <td><a asp-controller="Quests" asp-action="Delete" asp-route-id="@Model.quests[i].Id" class="text-center btn btn-danger m-md-2">Delete</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr><td><h4>@ViewBag.Quests</h4></td></tr>
                    }
                }
                
            </tbody>
        </table>

        <div class="text-center">
        <a id="linklabel" asp-controller="Character" asp-action="Index"><h2>Characters:</h2></a>
        </div>

        <div class="row">
        @for (int i = 0; i < Model.characters.Count; ++i)
        {
            <div class="col">
            @if(Model.characters[i] != null)
            {
                <div class="row" id="notes">@Model.characters[i].Name</div>
                <img src="data:image;base64,@System.Convert.ToBase64String(@Model.characters[i].PictureData)" width="256" height="256" />
                <div class="row" id="notes">Creation Date: @Model.characters[i].CreationDate.ToString()</div>

                <a asp-controller="Character" asp-action="Details" asp-route-id="@Model.characters[i].Id" class="btn btn-primary m-1">Details</a>
                <a asp-controller="Character" asp-action="edit" asp-route-id="@Model.characters[i].Id" class="btn btn-secondary m-1">Edit</a>
                <a asp-controller="Character" asp-action="Delete" asp-route-id="@Model.characters[i].Id" class="btn btn-danger m-1">Delete</a>
            }
            </div>
        }
        </div>

        <div class="text-center">
        <a id="linklabel" asp-controller="Maps" asp-action="Index"><h2>Maps:</h2></a>
        </div>

        <div class="row"> 
            @for (int i = 0; i < Model.maps.Count; ++i)
            {
                <div class="col">
                @if (Model.maps[i] != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.maps[i].PictureData)" width="256" height="256" />
                    <div class="row" id="notes">Creation Date: @Model.maps[i].CreationDate.ToString()</div>

                    <a asp-controller="Maps" asp-action="Details" asp-route-id="@Model.maps[i].Id" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Maps" asp-action="Edit" asp-route-id="@Model.maps[i].Id" class="btn btn-secondary m-1">Edit</a>
                    <a asp-controller="Maps" asp-action="Delete" asp-route-id="@Model.maps[i].Id" class="btn btn-danger m-1">Delete</a>
                }
                else
                {
                    <h4>@ViewBag.Maps</h4>
                }
                </div>
            }
        </div>

        <div class="text-center">
        <a id="linklabel" asp-controller="Songs" asp-action="Index"><h2>Songs:</h2></a>
        </div>

        <div class="row">
        @for (var i = 0; i < Model.Songs.Count; ++i)
        {

            <div class="col">
                @if (Model.Songs[i] != null)
                {
                    <div class="card" style="width: 18rem;">

                    <div class="card-title" style="color:black" id="notes">@Model.Songs[i].Name</div>


                    <img class ="card-img-bottom" src="data:image;base64,@System.Convert.ToBase64String(Model.Songs[i].PictureData)" width="256" height="256" />
                    

                    </div>
                    <br />

                    <a asp-controller="Songs" asp-action="details" asp-route-id="@Model.Songs[i].Id" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Songs" asp-action="delete" asp-route-id="@Model.Songs[i].Id" class="btn btn-danger m-1">Delete</a>

                    <div class="col-sm">
                        <input type="button" class="btn btn-dark m-1" value="Play" onclick="music(@Model.Songs[i].Completion,@Model.Songs[i].InstrumentId,@Model.Songs[i].RateId)" />

                        <input type="button" class="btn btn-dark m-1" value="Stop" onclick="stop()" />

                        <input type="button" class="btn btn-dark m-1" value="Download" onclick="record(@Model.Songs[i].Completion,@Model.Songs[i].InstrumentId,@Model.Songs[i].RateId)" />
                    </div>
                }
                else
                {
                    <h4>@ViewBag.Songs</h4>
                }

        </div>
        }
    </div>
        <div class="text-center">
            <a id="linklabel" asp-controller="Items" asp-action="Index"><h2>Items:</h2></a>
        </div>    

        <div class="row">
            @for (var i = 0; i < Model.items.Count; ++i)
            {

                <div class="col">
                    @if (Model.items[i] != null)
                    {
                        <div class="card" style="width: 18rem;">

                            <div class="card-title" style="color:black" id="notes">@Model.items[i].Name</div>


                            <img class="card-img-bottom" src="data:image;base64,@System.Convert.ToBase64String(Model.items[i].PictureData)" width="256" height="256" />


                        </div>
                        <br />

                        <a asp-controller="Items" asp-action="details" asp-route-id="@Model.items[i].Id" class="btn btn-primary m-1">Details</a>
                        <a asp-controller="Items" asp-action="delete" asp-route-id="@Model.items[i].Id" class="btn btn-danger m-1">Delete</a>


                    }

                </div>
            }
        </div>
    }
    else
    {
        <br />
        <br />
        <br />
        <br />
        <div id="NameWorld" class="container my-5 justify-content-center text-center">
            <form asp-action="Index"  method="post">
                <label asp-for="WorldName" class="control-label">World name</label>
                <br />
                <input asp-for="WorldName" class="form-control">
                <span asp-validation-for="WorldName" class="text-danger"></span>
                <br />
                <input type="submit" class="btn btn-secondary" value="Create world">
        </form>
        </div>
    }
    @if(ViewBag.Message != null)
    {
        <br />
        <p class="text-center">@ViewBag.Message</p>
    }
</div>