@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}


<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script src="/js/toneLib.js"></script>



<header>
    <br />
    <br />
    <h1>
        Songs
    </h1>

    <h4>
        A good set of songs is the heart of any good campaign.
        <br />
        <br />
        
    </h4>

</header>


<div class="text-center" id="title">
    <h1>Song Creation</h1>
</div>




<h4>
    <br />
    <br />
    Craft your Song. You can have up to 6 Song materials at once before you have to start deleting them!
</h4>



<div class="text-center" id="adviceBox">
</div>





<div class="container">
   




        <form asp-action="Template" id="create_template_form" method="post">
        <div class="row">
                      
                            <div class="col-sm">

                <label asp-for="r0" class="control-label">What is the tone of the song? E.g. Happy, Intense, Mysterious</label>

                                <select asp-for="r0" class="form-control" required>
                                    <option value = "Joyful">Joyful</option>
                                    <option value = "Mysterious">Mysterious</option>
                                    <option value = "Intense">Intense</option>
                                    <option value="Romantic">Romantic</option>
                                    <option value=  "Happy">Happy</option>
                                    <option value=  "Sad">Sad</option>
                                </select>
                                <span asp-validation-for="r0" class="text-danger"></span>
                                </div>

                            <div class="col-sm">

                                <label asp-for="r1" class="control-label">What will the song be used for? E.g. Combat, or Puzzle music</label>
                                <input asp-for="r1" class="form-control" id = "songPurpose" required />
                                <span asp-validation-for="r1" class="text-danger"></span>
                                </div>

                <div class="col-sm">

                                <label asp-for="r2" class="control-label">What is the speed of the song? E.g. Fast!</label>
                                <select asp-for="r2" class="form-control" required>
                                    <option value = "0">Slow</option>
                                    <option value = "1">Medium</option>
                                    <option value = "2">Fast</option>
                                </select>
                                <span asp-validation-for="r2" class="text-danger"></span>

                                </div>

                <div class="col-sm">

                <label asp-for="r3" class="control-label">What is the instrument the song will be played with?</label>
                                <select asp-for="r3" class="form-control" required>
                                    <option value="0">AMSynth</option>
                                    <option value = "1">DuoSynth</option>
                                    <option value="2">FMSynth</option>
                                    <option value="3">MembraneSynth</option>
                                    <option value="4">MetalSynth</option>
                                    <option value="5">MonoSynth</option>
                                    <option value="6">NoiseSynth</option>
                                    <option value="7">PluckSynth</option>

                                </select>
                                <span asp-validation-for="r3" class="text-danger"></span>

                                </div>

                     

                      

                <div class="form-group mt-3 text-center">

                    <input type="submit" class="btn btn-primary m-1" id="createSong" value="Create Song" onclick="toggle()" />

                <f>
                    <input type="button" class="btn btn-dark m-1" id="stop" value="Stop Music" onclick="pause()" />
                </f>

                </div>
            </form>
</div>
                  





  

<h2>Completions:</h2>
@if (Model != null)
{
    <div class="row">
        @for (var i = 0; i < Model.songs.Count; ++i)
        {

            <div class="col">
                @if (Model.songs[i] != null)
                {
                    <div class="card" style="width: 18rem;">

                    <div class="card-title" id ="songName" style="color:black">@Model.songs[i].Name</div>


                    <img class ="card-img-bottom" src="data:image;base64,@System.Convert.ToBase64String(Model.songs[i].PictureData)" width="256" height="256" />
                    

                    </div>
                    <br />

                    <a asp-controller="Songs" asp-action="details" asp-route-id="@Model.songs[i].Id" id="details" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Songs" asp-action="delete" asp-route-id="@Model.songs[i].Id" class="btn btn-danger m-1">Delete</a>

                    <div class="col-sm">
                        <input type="button" class="btn btn-dark m-1" value="Play" onclick="music(@Model.songs[i].Completion,@Model.songs[i].InstrumentId,@Model.songs[i].RateId)" />

                        <input type="button" class="btn btn-dark m-1" value="Stop" onclick="pause()" />
                        
                        <input type="button" class="btn btn-dark m-1" value="Download" onclick="record(@Model.songs[i].Completion,@Model.songs[i].InstrumentId,@Model.songs[i].RateId)" />
                    </div>
                }
                   
            </div>
        }
    </div>
}

 
@*<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
                const btnEl = document.querySelector('.btn');

                btnEl.addEventListener('click', saveImage);

                function saveImage() {




                }

            </script>*@

<script>

</script>




