@model DWC_NightOwlProject.Data.Backstory


<div class="text-center" id="title">
    <h2>Backstory Result</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
</div>







<h4>
    Completion:  <br />
</h4>

<p class="results">
    @if(Model!=null)
    {
        @Model.Completion
    }
</p>

<br />

<a href="@Url.Action("Save","Backstory")">Save</a> &nbsp; <a href="@Url.Action("Index","Backstory")">Discard</a> &nbsp; <button class="btn btn-secondary" onclick="downloadFile()">Download your Backstory!</button>


<script>
    function downloadFile() {
        const link = document.createElement("a");
        const content = "@Html.Raw(Model.Completion).ToString().Substring(2)";
        const file = new Blob([content], {type: "text/plain"});
        link.href = URL.createObjectURL(file);
        link.download = "backstory.txt";
        link.click();
        URL.revokeObjectURL(link.href);
    };
</script>




@*<input type="button" value="Save" onclick="location.href='@Url.Action("Save", "Backstory")'" />*@

@*<button onclick="Save">Save</button>*@



@*<script>
function Save(){
$.post("/Backstory/Save", {material: @Model.Completion}, function (data) {  
         alert(data);  
     });
}
</script>*@


@*<button type="button" value = "Save" class="btn btn-info" onclick='window.location = "@Url.Action("Save", "Backstory", "Model.Completion" )";'/>*@

@*<button type="button" class="btn btn-default active" onclick="location.href='@Url.Action("Save", "Backstory", Model.Completion))'">Save</button>*@

@*@Html.ActionLink()*@



@*@Html.ActionLink("Add Balance", "Balance", "Home", new {model = Model.user}, new { @class = "navbar-brand" })*@









