@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>
        Backstory
    </h1>

    <h4>
        A Backstory is the central theme of your world. The overarching plot of your adventure.
        <br />
        <br />
        Craft your backstory in one of two ways.
        <br />
        You may have only one backstory at a time,but you can change it by simply recreating it!
    </h4>
    
</header>


    <div class="text-center" id="title">
    <br />
        <h1>Backstory Creation</h1>
    </div>

    <div class="text-center" id="adviceBox">
        <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
    <p>Fill your prophecy with a template or create your own</p>
    </div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2> Create your backstory with a template?</h2>
         <h4>Easier, Step-by-Step</h4> <br /> <br />
         <input type="button" class="btn btn-dark" value="Create Your Backstory" id="templateButton" onclick="window.location= '@Url.Action( "Template", "Backstory")'" />
        </div>
        <div class="col-sm">
            <h2> Create your backstory all from Scratch?</h2>
    <h4>More advanced, but potentially more creative!</h4> <br />
    <input type="button" class="btn btn-dark" value="Create Your Backstory" id="scratchButton" onclick="window.location= '@Url.Action( "Scratch", "Backstory")'" />
        </div>
        
    </div>
</div>
   
<div class="container">
    <div class="row">
        <h2>Backstory:</h2>    
        <div class="column"> 
        @if (Model != null)
        {
                @if (Model.material != null)
                {
                    <p class="resultsBackstory">@Model.material.Completion</p> <br />
                    <a id="notes">@Model.material.CreationDate.ToString()</a>
                    <a asp-controller="Backstory" asp-action="Delete" asp-route-id="@Model.material.Id" class="text-center btn btn-danger m-md-2">Delete</a>
                }
        }
        </div>
    </div>
</div>