@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>
        Backstory
    </h1>

    <h4>
        A Backstory is the central theme of your world. This material is the meat and potatoes of any Tabletop campaign.
        <br />
        <br />
        Craft your backstory in one of two ways.
    </h4>
    
</header>


    <div class="text-center" id="title">
        <h2>Backstory Creation</h2>
    </div>

    <div class="text-center" id="adviceBox">
        <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
    <p>Fill your prophecy with a template or create your own</p>
    </div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1> Create your backstory with a template?</h1>
         Easier, Step-by-Step <br />
         <input type="button" class="" value="Create Your Backstory" id="templateButton" onclick="window.location= '@Url.Action( "Template", "Backstory")'" />
        </div>
        <div class="col-sm">
            <h1> Create your backstory all from Scratch?</h1>
    More advanced, but potentially more creative! <br />
    <input type="button" class="" value="Create Your Backstory" id="scratchButton" onclick="window.location= '@Url.Action( "Scratch", "Backstory")'" />
        </div>
        
    </div>
</div>
   
<div class="container">
    <div class="row">
        <h2>Backstory:</h2>    
        <div class="column"> 
        @if (Model != null)
        {
                @if (Model.material != null)
                {
                    <a>@Model.material.Completion</a> <br />
                    <a>@Model.material.CreationDate.ToString()</a>
                    <a asp-controller="Backstory" asp-action="Delete" asp-route-id="@Model.material.Id" class="text-center btn btn-danger m-md-2">Delete</a>
                }
        }
        </div>
    </div>
</div>