@model DWC_NightOwlProject.Data.Map


<html>


<head>
         
    
   
    </head>
<body>
<div class="text-center" id="title">
    <h2>Map Creation Result</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>Map is power!</span>
</div>






<h4>
    Completion:  <br />
</h4>

    <img src="data:image;base64,@System.Convert.ToBase64String(Model.PictureData)" width="1064" height="1064" />
<div class="text-danger">Currently, the map is automatically saved to the Database due to an error with the save button, however it can be deleted in the Maps Index Page.</div>

<canvas id="myCanvas" width="256" height="256">

          

</canvas>


@*@Model.Completion*@

<br />

<script src = "https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

@*<a href="@Url.Action("Save","Maps", Model)">Save</a>  <a href="@Url.Action("Index","Maps")">Discard</a>*@

<a href="@Url.Action("Index","Maps")">Index</a>

@*<script>
    const btnEl = document.querySelector('.btn');

    btnEl.addEventListener('click', saveImage);

    function saveImage(){

        const content = "@Html.Raw(Model.Completion).ToString().Substring(2)";
        var blob = new Blob([content], { type: "image/png" });
        @Model.PictureData = blob;
    }

       
            
            
    </script>*@

   

    </body>

</html>







