@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script async src="~/js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<html>
    <body>


<p>
<img src="~/css/left-shoe-footprint.png" alt="left_shoe" />
<img src="~/css/right-shoe-footprint.png" alt="right_shoe" />
</p>

<header>
   

    <h4>
        
        <br />
        <br />
        
    </h4>

  

             <div class="col">

         <div class="card" style="width:fit-content; padding-left:20px">
                    <div class="card-body">
                    <h1 class="card-title">Maps</h1>
                <b class="card-text">A Map is a Game Master's best friend, and the pivotal material for game interactions to take place.
                    Craft your Map in one of two ways. You can have up to 4 map materials at once before you have to start deleting them!</b>

          </div>
        </div>

        </div>

</header>




<div class="text-center" id="adviceBox">
    

</div>


 @*   <form asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Upload"></label>
            <input type="file" asp-for="Upload" />
        </div>
        <input type="submit" value="Upload" />
    </form>*@

@*<script>
  "use strict";

  function AJAXSubmit (oFormElement) {
    var oReq = new XMLHttpRequest();
    oReq.onload = function(e) { 
    oFormElement.elements.namedItem("result").value = 
      'Result: ' + this.status + ' ' + this.statusText;
    };
    oReq.open("post", oFormElement.action);
    oReq.send(new FormData(oFormElement));
  }
</script>*@


<div class="container">
    <div class="row">

        @*<div class="col-sm">
            <h2> Upload your own Map that you would like to edit.</h2>

            
            

            <button class="btn" id="upload" onclick="reveal('u','s')">Upload</button>

        <u id="u">


                <a class="text-danger">Please upload a PNG image with transparency (alpha) in the parts you want edited, for example an image of a mountain map with the peak erased.</a>
                <br />
                <br />
                <a class="text-danger">The PNG must also have the same width and height, so 256x256, 512x512, etc. </a>
                <br />
                <br />
               

          

                <form enctype="multipart/form-data" asp-action="ImageEdit" id="edit_image_form" method="post">
                            <div class="container">
                                <div class="row-cols-lg-1">
                                    <div class="col">

                                        <label asp-for="r0" class="control-label">How would you like your image edited?</label>
                                        <input asp-for="r0" class="form-control" />
                                        <span asp-validation-for="r0" class="text-danger"></span>

                                     
                                    <input asp-for="Upload" type="file">
                                    <span asp-validation-for="Upload"></span>
                                     

                                </div>
                            </div>
                     
                           




                          

                                <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Map" onclick="toggle()" />

                           
                           </div>
                 </form>
            </u>
        </div>
           
        *@

          

        <div class="col-sm">
            <h2> Create your Map with a template</h2>
            <h4>Easier, Step-by-Step</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="template" onclick="reveal('t','s')">Template</button>

            

            <t id="t">
            <form asp-action="Template" id="create_template_form" method="post">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                                <label asp-for="r0" class="control-label">Is this map inside or outside?</label>
                                <input asp-for="r0" class="form-control" required/>
                                <span asp-validation-for="r0" class="text-danger"></span>

                                <label asp-for="r1" class="control-label">What type of biome is the map?</label>
                                <input asp-for="r1" class="form-control" required />
                                <span asp-validation-for="r1" class="text-danger"></span>

                                <label asp-for="r2" class="control-label">How many squares should the map contain, roughly?</label>
                                <input asp-for="r2" class="form-control" required />
                                <span asp-validation-for="r2" class="text-danger"></span>


                              


                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">

                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Map" onclick="toggle()" />

                </div>
            </form>

            </t>
            
        </div>
        <div class="col-sm">
            <h2> Create your Map From Scratch</h2>
            <h4>More difficult, but potentially more creative</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="scratch" onclick="reveal('s','t')">From Scratch</button>



            <s id= "s">
            <form asp-action="Scratch" id="create_scratch_form">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                               <label asp-for="r0" class="control-label">Describe Your Map:</label>
                                <input asp-for="r0" class="form-control-lg" required/>
                                <span asp-validation-for="r0" class="text-danger"></span>

                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">
                   

                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Map" onclick="toggle()" />

                </div>
            </form>
            </s>


           




        </div>

    </div>
</div>

    <h2>Completions:</h2>
    @if (Model != null)
    {

       
        <div class="row">
            @for (var i = 0; i < Model.materials.Count; ++i)
            {

                <div class="col">
                    @if (Model.materials[i] != null)
                    {
                        <div class="row" id="notes">@Model.materials[i].Name</div>
                        <a asp-controller="Maps" asp-action="edit" asp-route-id="@Model.materials[i].Id" class="btn">Edit Map Name</a>
                    <br />
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.materials[i].PictureData)" width="256" height="256" />
                        @*<div class="row"><iframe style="width:250px; height: 250px; overflow: hidden;" scrolling="no" frameborder="0" src=@Model.materials[i].PictureData></iframe></div>*@
                        @*<div class="row">Creation Date: @Model.materials[i].CreationDate.ToOADate().ToString();</div>*@
                        <br />

                        <a asp-controller="Maps" asp-action="details" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Details</a>
                        <a asp-controller="Maps" asp-action="delete" asp-route-id="@Model.materials[i].Id" class="btn btn-danger m-1">Delete</a>
                    }
                </div>
            }
        </div>
    }
@*<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
                const btnEl = document.querySelector('.btn');

                btnEl.addEventListener('click', saveImage);

                function saveImage() {

          

          
                }

            </script>*@

<script>
   
</script>

</body>
</html>

