@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script src="~/js/site.js"></script>


<p>
<img src="~/css/left-shoe-footprint.png" alt="left_shoe" />
<img src="~/css/right-shoe-footprint.png" alt="right_shoe" />
</p>




<div class="text-center" id="title">
    <h2>Map Creation</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
    <p>Fill your prophecy with a template, or create your own</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1> Create your Map with a template?</h1>
            Easier, Step-by-Step <br />

            <button class="btn" id="template" onclick="reveal('t','s')">Template</button>

            

            <t id="t">
            <form asp-action="Template" id="create-template-form">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                                <label asp-for="r0" class="control-label">Is this map inside or outside?</label>
                                <input asp-for="r0" class="form-control" />
                                <span asp-validation-for="r0" class="text-danger"></span>

                                <label asp-for="r1" class="control-label">What type of biome is the map?</label>
                                <input asp-for="r1" class="form-control" />
                                <span asp-validation-for="r0" class="text-danger"></span>

                                <label asp-for="r2" class="control-label">What type of biome is the map?</label>
                                <input asp-for="r2" class="form-control" />
                                <span asp-validation-for="r2" class="text-danger"></span>

@*
                                <label for="r1" class="control-label">What type of biome is the map?</label>
                            <input id="first-input" name="first" class="form-control" type="text" required />


                                <label for="r2" class="control-label">What type of biome is the map?</label>
                            <input id="second-input" name="second" class="form-control" type="range" required min="100" max="1000" />*@


                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">

                    <input type="submit" class="btn" id="Create" value="Create Map" onclick="toggle()"/>

                </div>
            </form>

            </t>
            
        </div>
        <div class="col-sm">
            <h1> Create your Map From Scratch</h1>
           More difficult, but potentially more creative <br />

            <button class="btn" id="scratch" onclick="reveal('s','t')">From Scratch</button>



            <s id= "s">
            <form asp-action="Scratch" id="create-template-form">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                                <label for="r3" class="control-label">Please describe your map in as little or as much detail as you like:</label>
                            <textarea id="third-input" name="third" rows ="8" cols="50" class="form-control" type="text" required></textarea>

                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">
                   

                        <input type="submit" class="btn" id="Create" value="Create Map" onclick="toggle()" />

                </div>
            </form>
            </s>


            @*<input type="button" class="" value="Template" onclick="window.location= '@Url.Action( "Template", "Character")'" />
            </div>*@




        </div>

    </div>
</div>

    <h2>Completions:</h2>
    @if (Model != null)
    {
        <div class="row">
            @for (var i = 0; i < Model.materials.Count; ++i)
            {

                <div class="col">
                    @if (Model.materials[i] != null)
                    {
                        <div class="row">@Model.materials[i].Name</div>
                        <div class="row"><iframe style="width:250px; height: 250px; overflow: hidden;" scrolling="no" frameborder="0" src=@Model.materials[i].Completion></iframe></div>
                        <div class="row">Creation Date: @Model.materials[i].CreationDate.ToString()</div>

                        <a asp-controller="Maps" asp-action="details" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Details</a>
                        <a asp-controller="Maps" asp-action="edit" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Edit</a>
                        <a asp-controller="Maps" asp-action="delete" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Delete</a>
                    }
                </div>
            }
        </div>
    }
@*<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
                const btnEl = document.querySelector('.btn');

                btnEl.addEventListener('click', saveImage);

                function saveImage() {

          

          
                }

            </script>*@

<script>
   
</script>

