@model DWC_NightOwlProject.Data.MaterialVM;
@{
    ViewData["Title"] = "Index";
}

<header>
    <br />
    <br />
    <h1>
        Quest
    </h1>

    <h4>
        A Quest is the party's current mission or obstacle that they must overcome.
        <br />
        <br />
        Craft your Quest in one of three ways.
    </h4>
</header>
    



<div class="text-center">
    <br />
    <h1>Quest Creation</h1>
</div>

<div class="text-center">
    <h3>You may be preparing to set out on your journey, but for what reason are you going?
    Create your quests with a template or create your own!</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br />
            <h2>Create your Quest with a template?</h2>
            <p>Much easier, leads you step by step</p> <br /> <br />
            <button type="button" class="btn btn-dark" value="Create a Quest" onclick="window.location='@Url.Action("Template", "Quests")'">Create your Quests</button>
        </div>

        <div class="col-sm">
            <br />
            <h2>Create your Quest from Scratch?</h2>
            <p>More advanced, but potentially more creative!</p> <br />
            <button type="button" class="btn btn-dark" value="Create a Quest" onclick="window.location='@Url.Action("Scratch", "Quests")'">Create your Quests</button>
        </div>

        <div class="col-sm">
            <br />
            <h2>Create a guided quest?</h2>
            <p>Make a quest with steps along the way that much be reached</p><br />
            <button type="button" class="btn btn-dark" value="Create a Quest" onclick="window.location='@Url.Action("GuidedQuestTemplate", "Quests")'">Create your Quests</button>
        </div>
        <div class="col-sm">
            <h2>Create a quest based on other existing materials</h2>
            <h4>Make a quest that references other content</h4>
            <a asp-controller="Quests" asp-action="CreateWithReference" class="btn btn-primary m-1">Create quest</a>
        </div>
    </div>
</div>

<h2>Quests:</h2>
@if (Model != null)
{
    <div class="row">
        @for (var i = 0; i < Model.quests.Count; ++i)
        {
            <div class="col">
                @if (Model.quests[i] != null)
                {
                    <div class="row" id="results" style="color: rgb(238, 217, 222)">@Model.quests[i].Completion</div>
                    <div class="row" id="notes">Creation Date: @Model.quests[i].CreationDate.ToString()</div>

                    <a asp-controller="Quests" asp-action="Details" asp-route-id="@Model.quests[i].Id" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Quests" asp-action="Delete" asp-route-id="@Model.quests[i].Id" class="btn btn-primary m-1">Delete</a>
                    <a class="btn btn-outline-primary m-1" onclick="downloadFile()">Download this quest!</a>
                    <script>
                        function downloadFile() {
                            const link = document.createElement("a");
                            const content = "@Html.Raw(Model.quests[i].Completion).ToString()";
                            const file = new Blob([content], { type: "text/plain" });
                            link.href = URL.createObjectURL(file);
                            link.download = "quest.txt";
                            link.click();
                            URL.revokeObjectURL(link.href);
                        };
                    </script>
                }
            </div>
        }
    </div>
}
<script>
    var completion = document.querySelectorAll(".row:first-child");
    completion.forEach(function (element) {
        element.innerHTML = element.innerHTML.replaceAll(/(Act \d+|Epilogue):/g, "<br><br>$1<br><br>");
    });
</script>