@model DWC_NightOwlProject.Data.MaterialVM;
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h2>Quest Creation</h2>
</div>

<div class="text-center">
    <span>You may be preparing to set out on your journey, but for what reason are you going?</span>
    <span>Create your quests with a template or create your own!</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Create your Quest with a template?</h1>
            Much easier, leads you step by step <br />
            <button type="button" class="" value="Create a Quest" onclick="window.location='@Url.Action("Template", "Quests")'">Create your Quests</button>
        </div>

        <div class="col-sm">
            <h1>Create your backstory from Scratch?</h1>
            More advanced, but potentially more creative! <br />
            <button type="button" class="" value="Create a Quest" onclick="window.location='@Url.Action("Scratch", "Quests")'">Create your Quests</button>
        </div>
    </div>
</div>

<h2>Quests:</h2>
@if (Model != null)
{
    <div class="row">
        @for (var i = 0; i < Model.materials.Count; ++i)
        {
            <div class="col">
                @if (Model.materials[i] != null)
                {
                    <div class="row">@Model.materials[i].Completion</div>
                    <div class="row">Creation Date: @Model.materials[i].CreationDate.ToString()</div>

                    <a asp-controller="Quests" asp-action="Details" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Quests" asp-action="Delete" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Delete</a>
                }
            </div>
        }
    </div>
}