@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Characters";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script src="/js/toneLib.js"></script>



<header>
    <br />
    <br />
    <h1>
        Character
    </h1>

    <h4>
        A Character is a player or Game Master's direct link to the campaign, your avatar of sorts.
        <br />
        <br />
        Craft your Character in one of two ways. You can have up to 4 character materials at once before you have to start deleting them!
    </h4>

</header>


<div class="text-center" id="title">
    <h1>Character Creation</h1>
</div>

<div class="text-center" id="adviceBox">
</div>





<div class="container">
    <div class="row">



        <div class="col-sm">
            <h2> Create your Character with a template</h2>
            <h4>Easier, Step-by-Step</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="template" onclick="reveal('t','s')">Template</button>



            <t id="t">
                <form asp-action="Template" id="create_template_form" method="post">
                    <div class="container">
                        <div class="row-cols-lg-1">
                            <div class="col">

                                <label asp-for="r0" class="control-label">Class</label>
                                <input asp-for="r0" class="form-control" required />
                                <span asp-validation-for="r0" class="text-danger"></span>

                                <label asp-for="r1" class="control-label">Race</label>
                                <input asp-for="r1" class="form-control" required />
                                <span asp-validation-for="r1" class="text-danger"></span>

                                <label asp-for="r2" class="control-label">Age</label>
                                <input asp-for="r2" class="form-control" required />
                                <span asp-validation-for="r2" class="text-danger"></span>

                                <label asp-for="r3" class="control-label">Skin Tone</label>
                                <input asp-for="r3" class="form-control" required />
                                <span asp-validation-for="r3" class="text-danger"></span>

                                <label asp-for="r4" class="control-label">Height</label>
                                <input asp-for="r4" class="form-control" required />
                                <span asp-validation-for="r4" class="text-danger"></span>

                                <label asp-for="r5" class="control-label">Weight</label>
                                <input asp-for="r5" class="form-control" required />
                                <span asp-validation-for="r5" class="text-danger"></span>






                            </div>

                        </div>
                    </div>





                    <div class="form-group mt-3 text-center">

                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Character" onclick="toggle()" />

                    </div>
                </form>

            </t>

        </div>
        <div class="col-sm">
            <h2> Create your Character From Scratch</h2>
            <h4>More difficult, but potentially more creative</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="scratch" onclick="reveal('s','t')">From Scratch</button>



            <s id="s">
                <form asp-action="Scratch" id="create_scratch_form">
                    <div class="container">
                        <div class="row-cols-lg-1">
                            <div class="col">

                                <label asp-for="r0" class="control-label">Describe Your Character:</label>
                                <input asp-for="r0" class="form-control-lg" required />
                                <span asp-validation-for="r0" class="text-danger"></span>

                            </div>

                        </div>
                    </div>





                    <div class="form-group mt-3 text-center">


                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Character" onclick="toggle()" />

                    </div>
                </form>
            </s>






        </div>

        <div class="col-sm">
            <h2> Create a Random Character</h2>
            <h4>Let fate and destiny take over your choices!</h4> <br /> <br />

            <a href="@Url.Action("Random", "Character")" class="btn btn-dark">Create a Random Character</a>


        </div>

        <div class="col-sm">
            <h2> Create a Character Sheet</h2>
            <h4>Create a character sheet that randomizes your whole character and its stats</h4> <br /> <br />

            <a asp-controller="Character" asp-action="CreateSheet" class="btn btn-dark">Create a randomized character sheet</a>


        </div>

    </div>
</div>

<h2>Completions:</h2>
@if (Model != null)
{
    <div class="row">
        @for (var i = 0; i < Model.characters.Count; ++i)
        {

            <div class="col">
                @if (Model.characters[i] != null)
                {
                    <div class="row" id="notes">@Model.characters[i].Name</div>

                    <br />
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.characters[i].PictureData)" width="256" height="256" />
                    @*<div class="row"><iframe style="width:250px; height: 250px; overflow: hidden;" scrolling="no" frameborder="0" src=@Model.materials[i].PictureData></iframe></div>*@
                    @*<div class="row">Creation Date: @Model.materials[i].CreationDate.ToOADate().ToString();</div>*@
                    <br />

                    <a asp-controller="Character" asp-action="details" asp-route-id="@Model.characters[i].Id" class="btn btn-primary m-3">Details</a>
                    <a asp-controller="Character" asp-action="delete" asp-route-id="@Model.characters[i].Id" class="btn btn-danger">Delete</a>
                    <div class="col" style="padding-right: 70%;">
                        <a asp-controller="Character" asp-action="CreateSheetWithCharacter" asp-route-id="@Model.characters[i].Id" class="btn btn-secondary m-1">Create character sheet</a>
                        <div class="col" style="padding-left: 19%;">
                            <a class="btn btn-primary m-1" href="data:image;base64,@System.Convert.ToBase64String(Model.characters[i].PictureData)" download="character.png">Download</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
@*<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
                const btnEl = document.querySelector('.btn');

                btnEl.addEventListener('click', saveImage);

                function saveImage() {




                }

            </script>*@

<script>

</script>

