@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="text-center" id="title"><div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Create an encounter for your game</h1><br />
            <input type="button" class="" value="Encounter Form" onclick="window.location= '@Url.Action( "EncounterForm", "Encounter")'" />
        </div>
    </div>
</div>
@*
<h2>Completions:</h2>
@if (Model != null)
{
    <div class="row">
        @for (var i = 0; i < Model.materials.Count; ++i)
        {

            <div class="col">
                @if (Model.materials[i] != null)
                {
                    <div class="row">@Model.materials[i].Name</div>
                    <div class="row"><iframe style="width:250px; height: 250px; overflow: hidden;" scrolling="no" frameborder="0" src=@Model.materials[i].Completion></iframe></div>
                    <div class="row">Creation Date: @Model.materials[i].CreationDate.ToString()</div>

                    <a asp-controller="Character" asp-action="details" asp-route-id="@Model.materials[i].Id" class="btn btn-primary m-1">Details</a>
                    <a asp-controller="Character" asp-action="edit" asp-route-id="@Model.materials[i].Id" class="btn btn-secondary m-1">Edit</a>
                    <a asp-controller="Character" asp-action="delete" asp-route-id="@Model.materials[i].Id" class="btn btn-danger m-1">Delete</a>
                    <a class="btn btn-outline-primary m-1" onclick="downloadFile()">Download</a>

                    <script>
                        function downloadFile() {
                            const link = document.createElement("a");
                            const content = "@Html.Raw(Model.materials[i].Completion).ToString()" + ".png";
                            const file = new Blob([content], { type: "image/png" });
                            link.href = URL.createObjectURL(file);
                            link.download = "character.png";
                            link.click();
                            URL.revokeObjectURL(link.href);
                        };
                    </script>
                }
            </div>
        }
    </div>
}
*@

