@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Encounters";
}
<div class="container">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="text-center" id="title"><div class="container">
    <div class="row">
        <div class="col-sm">
                    <br />
                    <br />
            <h1>Create an encounter for your game</h1><br />
            <h3>Not sure what will happen to your players on the way? Let us figure it out!</h3>
            <input type="button" class="btn btn-dark m-1" value="Encounter Form" onclick="window.location= '@Url.Action( "EncounterForm", "Encounter")'" />
        </div>
        <div class="col-sm">
            <h2>Create an encounter based on other existing materials</h2>
            <h4>Make an encounter that references other content</h4>
            <a asp-controller="Encounter" asp-action="CreateWithReference" class="btn btn-primary m-1">Create encounter</a>
        </div>
    </div>
</div>
@if(Model!=null)
{
    <div class="row">
        <div class="col-sm">
        @for (var i = 0; i < Model.encounters.Count; ++i)
        {
            <div class="col">
                @if (Model.encounters[i] != null)
                {
                    <a class="btn btn-outline-primary m-1" id="linklabel" onclick="showContent()">@Model.encounters[i].Type " encounter in a "@Model.encounters[i].Biome</a>
                    <a class="btn btn-outline-primary m-1" onclick="downloadFile()">Download this encounter!</a>
                    <script>
                        function downloadFile() {
                            const link = document.createElement("a");
                            const content = "@Html.Raw(@Model.encounters[i].Completion)";
                            const file = new Blob([content], { type: "text/plain" });
                            link.href = URL.createObjectURL(file);
                            link.download = "charactersheet.txt";
                            link.click();
                            URL.revokeObjectURL(link.href);
                        };
                    </script>

                    <script>
                        function showContent() {
                            document.getElementById("EncounterContent").innerHTML="@Model.encounters[i].Completion";
                        };
                    </script>
                }
            </div>
        }
        </div>
        <div class="col-sm">
            <div id="EncounterContent"></div>
        </div>
    </div>
}
</div>

